body {
    direction: rtl;
}
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        margin-right: 250px;
        margin-left: 0;
    }
.ml-auto, .mx-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.e-treeview .e-icon-collapsible, .e-treeview .e-icon-expandable {
   
    margin: 0;
}
.e-toolbar .e-toolbar-items.e-tbar-pos .e-toolbar-left {
    right: 0;
    left:unset;
}
.e-toolbar .e-toolbar-items.e-tbar-pos .e-toolbar-right {
    left: 0;
    right:unset;
}
#navbarnav {
    text-align: right;
}

.e-grid .e-headercelldiv {
    text-align: right;
}
.e-grid .e-gridheader .e-headercell .e-rhandler, .e-grid .e-gridheader .e-headercell .e-rsuppress {
    left: 0;
    right:unset;
}
.e-grid.e-resize-lines .e-headercell .e-rhandler, .e-grid.e-resize-lines .e-headercell .e-rsuppress {
    border-left: 1px solid #dee2e6;
    border-right: unset;
}
.e-grid .e-headercontent {
    border-color: #dee2e6;
    border-left-width: 1px;
    border-right-width:0 !important;
}
.e-grid .e-tableborder {
    border-left: 1px solid #dee2e6 !important;
    border-right: none;
    border-left: none;
}
.e-grid .e-gridheader {
    padding-right:0 !important;
    padding-left: 11px;
}
.e-grid .e-headercell, .e-grid .e-detailheadercell {
  
    padding: 0;
}
.e-pager .e-pagercontainer {
    float: right;
}
.e-pager .e-pagesizes {
    float: right;
}

.e-grid .e-gridheader tr th:last-child {
    padding-left: 8px;
    padding-right: unset;
}

.e-grid .e-columnmenu {
    right:unset;
    left: 23px;
    float: left;
}
.e-pager .e-icon-last::before, .e-grid-menu .e-icon-last::before, .e-pager .e-icon-first::before, .e-grid-menu .e-icon-first::before, .e-pager .e-icon-next::before, .e-grid-menu .e-icon-next::before, .e-pager .e-icon-prev::before, .e-grid-menu .e-icon-prev::before {
    transform: rotate(180deg);
}
.e-grid .e-rowcell, .e-grid .e-groupcaption, .e-grid .e-indentcell, .e-grid .e-recordplusexpand, .e-grid .e-recordpluscollapse, .e-grid .e-rowdragdropcell, .e-grid .e-detailrowcollapse, .e-grid .e-detailrowexpand, .e-grid .e-detailindentcell, .e-grid .e-detailcell {
 
    text-align: center;
}
.e-grid .e-columnheader.e-wrap .e-fltr-icon .e-sortfilterdiv, .e-grid.e-wrap .e-columnheader .e-fltr-icon .e-sortfilterdiv {
    margin: -27px 0px -29px 20px;
}
.e-headertext {
    padding-left:unset;
    padding-right: 5px;
}
span#topbarContent {
    top: 10px;
    position: relative;
}
i.fas.fa-lock.mr-2 {
    float: right;
    margin-left: 5px;
}
.dropdown-menu-lg .dropdown-item {
  
    text-align: right;
}
.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text {
    border-left: unset;
    border-right: 0;
}
.e-grid.e-rtl .e-tableborder {
    width: 100% !important;
}
.e-contextmenu-wrapper ul .e-menu-item .e-menu-icon, .e-contextmenu-container ul .e-menu-item .e-menu-icon {
    margin-right: unset;
    margin-left: 8px;
}
.e-contextmenu-wrapper ul .e-menu-item, .e-contextmenu-container ul .e-menu-item {
   
    text-align: right;
}
    .e-contextmenu-wrapper ul .e-menu-item .e-caret, .e-contextmenu-container ul .e-menu-item .e-caret {
        left:unset;
        margin-right: 16px;
        margin-left: 0;
        left: 7px;
        transform: rotate(180deg);
    }
.e-contextmenu-wrapper ul.e-ul, .e-contextmenu-container ul.e-ul {
    left: 568.5px !important;
}
.e-grid .e-gridheader .e-sortfilter .e-fltr-icon .e-headercelldiv {
    margin: -5px -15px -5px -12px;
}