.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text {
    border-left: unset;
    border-right: 0;
}

.card {
    direction: rtl;
}

.input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .form-control:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #d8dde2;
}

.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text {
    border-bottom-left-radius: 0 !important;
    border-right: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: .25rem !important;
    border-right: 0 !important;
    border-top-left-radius: .25rem !important;
    border-left: 1px solid #ced4da;
}

[class*=icheck-] > label {
    padding-right: 29px !important;
    padding-left: unset !important;
}

.txt-right {
    text-align: right;
}
[class*=icheck-] > input:first-child + input[type=hidden] + label::before, [class*=icheck-] > input:first-child + label::before {
    margin-left: unset !important;
    margin-right: -29px !important;
}
label:not(.form-check-label):not(.custom-file-label) {
    
    margin-right: 7px;
}